<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated essentialIFML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="essentialIFML.presentation.EssentialIFMLModelWizardID"
            name="%_UI_EssentialIFMLModelWizard_label"
            class="essentialIFML.presentation.EssentialIFMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EssentialIFMLModelFile.gif">
         <description>%_UI_EssentialIFMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated essentialIFML -->
      <editor
            id="essentialIFML.presentation.EssentialIFMLEditorID"
            name="%_UI_EssentialIFMLEditor_label"
            icon="icons/full/obj16/EssentialIFMLModelFile.gif"
            extensions="essentialifml"
            class="essentialIFML.presentation.EssentialIFMLEditor"
            contributorClass="essentialIFML.presentation.EssentialIFMLActionBarContributor">
      </editor>
   </extension>

</plugin>
